#options-panel {
    height: 60px;
    display: flex;
    align-items: center;
}
#options-panel select {
    margin: 0;
    margin-left: 10px;
}


main {
    background-color: #333;
}


#gallery {
    height: 100vh;
    max-height: 60vw;
    margin: 0 13px;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}
.card {
    display: inline-block;
    height: 80%;
    width: auto;
    margin-top: 13px;
    margin-left: 13px;
    position: relative;
    border-radius: 20px;
}


.gallery-image {
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.gallery-text {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    background-color: #333;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
}
.gallery-text h2 {
    font-size: 1.2em;
    margin: 10px;
    text-align: center;
}
.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: gold;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    font-size: 1.2em;
    text-align: center;
}